<ul>
    {% if area %}
       <li><b>Surface de l'emplacement</b> : {{ area }} m<sup>2</sup></li>
    {% else %}
        <li>La surface de cet emplacement n'est pas connue</li>
    {% endif %}
    {% if distRest %}
       <li><b>Distance du restaurant</b> : {{ distRest }} m</li>
    {% else %}
        <li>La distance de cet emplacement au restaurant n'est pas connue</li>
    {% endif %}
    {% if distShop %}
       <li><b>Distance du magasin</b> : {{ distShop }} m</li>
    {% else %}
        <li>La distance de cet emplacement au magasin n'est pas connue</li>
    {% endif %}
    {% if swimPoolDist %}
       <li><b>Distance de la piscine la plus proche</b> : {{ swimPoolDist }} m</li>
    {% else %}
        <li>La distance de cet emplacement à la piscine n'est pas connue</li>
    {% endif %}
    {% if anyTree %}
       <li><b>Arbre sur l'emplacement</b> : {{ anyTree }}</li>
    {% else %}
        <li>Il n'y a pas d'arbre sur cet emplacement</li>
    {% endif %}
</ul>